@model List<T_Veterinaria.Models.ViewModels.ListarClienteViewModels>
@{
    ViewBag.Title = "Clientes";
}

<div class="container mt-5 p-4 bg-light shadow rounded">
    <h2 class="text-center mb-4">Clientes</h2>

    @using (Html.BeginForm("Cliente", "Cliente", FormMethod.Get))
    {
        <div class="form-group d-flex align-items-center mb-4">
            <label for="dniFiltro" class="me-2">Buscar Cliente:</label>
            <input type="text" id="dniFiltro" name="dniFiltro" class="form-control me-2" placeholder="Ingrese Identificación" />
            <button type="submit" class="btn btn-primary me-2">Filtrar</button>

            <a class="btn btn-outline-dark me-2" href="~/Home/Index">Volver al Inicio</a>
        </div>
    }

    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th>ClienteID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Informacion Personal</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var oElement in Model)
                {
                    <tr>
                        <td>@oElement.ClienteID</td>
                        <td>@oElement.NombreCliente</td>
                        <td>@oElement.Apellido</td>
                        <td>
                            <a class="btn btn-light btn-sm mt-1" href="~/Cliente/Informacion_Personal?ClienteID=@oElement.ClienteID">Ver Información</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm" href="~/Cliente/EditarCliente/@oElement.ClienteID">Editar</a>
                            <a class="btn btn-outline-danger btn-sm" href="~/Cliente/EliminarCliente/@oElement.ClienteID"
                               onclick="return confirm('¿Seguro que desea eliminar este cliente?')">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-center mb-4">
        <a class="btn btn-outline-success me-2" href="~/Mascota/NuevoMascota">Nueva Mascota</a>
        <a class="btn btn-outline-dark" href="~/Citas/NuevoCitas">Mascota Existente</a>
    </div>

</div>
