@model List<T_Veterinaria.Models.ViewModels.PagoViewModels>

@{
    ViewBag.Title = "Método de Pago";
}

<div class="container mt-5 p-4 bg-light shadow rounded">
    <h2 class="text-center mb-4">Métodos de Pago</h2>

    <div class="d-flex justify-content-center mb-4">
        <a class="btn btn-outline-secondary me-2" href="~/Pago/Pago">Volver</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th>PagoID</th>
                    <th>Forma de Pago</th>
                    <th>Fecha de Pago</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var oElement in Model)
                {
                    <tr>
                        <td>@oElement.PagoID</td>
                        <td>@oElement.Nombre</td>
                        <td>@oElement.FechaPago</td>
                        <td>@oElement.Monto</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
